
*{
    padding: 0;
    margin: 0;
    font-family: "Anton SC", sans-serif;
}
.bg{
    background-color: red;
}
nav{
    z-index: 10;
    width: 100vw;
    background-color:white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgb(202, 202, 202);
    position: fixed;
    border-bottom: 5px solid #0055ff;
    /* background-position: bottom; */
    
}
nav a{
    text-decoration: none;
    color: #1E201E;
    /* color: white; */
    font-size: 2rem;
    font-weight: 500;
    font-weight: 600;
    /* padding-bottom: 15px; */
}
nav a:hover{
    border-bottom: 5px solid #000000;
    /* text-decoration:underline; */
    color:#37AFE1;
}
nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    transition: all .4s;
    position: relative;
}
.hemburger{
    display: none;
}
nav ul li img{
    position: absolute;

    display: none;
    filter: invert(1);
}
nav ul li{
    list-style: none;
    margin: 12px 5px;
    /* padding: 12px 12px; */
}
nav ul li a{
    text-decoration: none;
    color: #1E201E;
    /* color: white; */
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 15px;
    
}
nav ul li a:hover{
    border-bottom: 5px solid #000000;
    /* text-decoration:underline; */
    color:#37AFE1;
    /* text-shadow: 0px 0px 20px gray; */
}
.logo img{
    width: 10rem;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6.5rem;
}
.heading h2{
    font-size: 3rem;
    color: #133E87;
}

.main{
    padding: 12px 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    /* border: 2px solid red; */
    width: 97vw;
    /* height: 50rem; */
    position: relative;
    top: 8rem;
}
.main-content{
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 12px; */
    padding: 12px 0px;
    background-color: #d5d4d44a;
}
.main-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 24rem;
    width: 45%;
    margin-top: 12px;
}
.main-cards:nth-child(3n+2){
    background-color: rgba(82, 82, 82, 0.208);
}
.main-cards:nth-child(3n+3){
    background-color: rgba(175, 175, 212, 0.266);
}

#Tarsar{
    background-image: url(../img/tarsar.jpg);
}
#Bhrigu{
    background-image: url(../img/bhrigu.jpg);
}
#deoria{
    background-image: url(../img/deoria.jpg);
}
#kuari{
    background-image: url(../img/kuari.jpg);
}
#valley{
    background-image: url(../img/valley.jpg);
}
#Nag{
    background-image: url(../img/nag.jpg);
}

.main-img{
    /* background: url(../img/Dzukou\ valley.jpg); */
    background-position: center;
    background-size: cover;
    /* border: 2px solid red; */
    width: 100%;
    height: 60%;
}
.info-text{
    width: 98%;
}


.main-text{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    height: 40%;
    /* border: 2px solid rebeccapurple; */
}
.main-text h2{
    color:#133E87;
    font-size: 1.5rem;
    margin:5px 0px;    
}
.text{
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 2px solid red; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}
.text button{
    padding: 10px 10px;
    width: 15rem;
    background-color: #133E87;
    
    
    border: none;
    border-radius: 5px;

}
.text button a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.text button:hover{
    cursor: pointer;
    box-shadow: 2px 3px 5px 2px rgb(160, 159, 159);
}
.Location{
    border: 2px solid #133E87;
    height: 40rem;
    width: 20%;
}
.lo-bg img{
    /* color: #0055ff; */
    height: 4rem;
}
.lo-bg{
    padding: 12px 0px;
    background-color: #133E87;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.lo-bg h2{
    color: white;
    font-size: 2rem;
}
.lo-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}
.lo-button button{

    border: none;
    padding: 5px 0px;
    width: 100%;
    font-size: 1.2rem;
    background-color: white;
    border-bottom: 2px solid black;
}
.lo-button button a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.lo-button button:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}
div.main-content{
    /* border: 2px solid red; */
    
    width: 60%;
}
.Grade{
    border: 2px solid #133E87;
    height: 20rem;
    width: 20%;}
