*{
    padding: 0;
    margin: 0;
}
   .main_container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* position: relative; */
    /* top: 6rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height:36rem;
    /* width: 100vw; */
    background-color: #f4f4f4;
   }
  .slider {
    position: relative;
    /* width: 98.5vw; */
    /* width: 99.5vw; */
    height: 30rem;
    /* max-width: 600px; */
    overflow: hidden;
    border: 2px solid #ddd;
    /* border-radius: 10px; */
    background: #fff;
    top: 6rem;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    
  }
  
  .slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: 2s;
    /* border-radius: 10px; */
  }
  
  header{
    background-color: #003161;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "Anton SC", sans-serif;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
  }

  .first{
    background-color: #003161;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    color: white;
    font-family: "Anton SC", sans-serif;
  }
  .first_left{
    border-right: 5px solid white;
    padding-right: 30px;
  }
  .first_left h2{
    display: flex;
    align-items: baseline;
    margin-top: 12px;
  }
  .first_left h2 img{
    padding-right: 12px;
    width: 30px;
    filter: invert(1);
  }
  .gallary{
   padding-left: 5rem;

  }
  .gallary h2{
    margin: 12px 0px;
    font-size: 2rem;
    font-family: "Anton SC", sans-serif;
  }

  .gallary_container{
    width: 90%;
    height: 30rem;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    overflow-y: scroll;
    
  }
  .gallary_container::-webkit-scrollbar {
    display:none;
  }
.gallary_container::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5px;
}
  .coloum{
    flex-direction: column;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
    position: relative;
    top: 0;
  }
  .img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }