*{
    padding: 0;
    margin: 0;
}
   .main_container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height:30rem;
    /* width: 100vw; */
    background-color: #f4f4f4;
   }
  .slider {
    position: relative;
    /* width: 98.5vw; */
    /* width: 99.5vw; */
    height: 30rem;
    /* max-width: 600px; */
    overflow: hidden;
    border: 2px solid #ddd;
    /* border-radius: 10px; */
    background: #fff;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    
  }
  
  .slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: 2s;
    /* border-radius: 10px; */
  }
  
