
*{
    padding: 0;
    margin: 0;
    /* font-family: Arial; */
}

nav{
    z-index: 10;
    width: 100vw;
    background-color:white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgb(202, 202, 202);
    position: fixed;
    border-bottom: 5px solid #0055ff;
    
}
nav a{
    text-decoration: none;
    color: #1E201E;
    /* color: white; */
    font-size: 2rem;
    font-weight: 500;
    font-weight: 600;
    /* padding-bottom: 15px; */
}
nav a:hover{
    border-bottom: 5px solid #000000;
    /* text-decoration:underline; */
    color:#37AFE1;
}
nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    transition: all .4s;
    position: relative;
}
nav ul li{
    list-style: none;
    margin: 12px 5px;
    /* padding: 12px 12px; */
}
.hemburger{
    display: none;
}
nav ul li img{
    position: absolute;

    display: none;
    filter: invert(1);
}
nav ul li a{
    text-decoration: none;
    color: #1E201E;
    /* color: white; */
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 15px;
    
}

nav ul li a:hover{
    border-bottom: 5px solid #000000;
    /* text-decoration:underline; */
    color:#37AFE1;
    /* text-shadow: 0px 0px 20px gray; */
}
.logo img{
    width: 10rem;
}


.intro-bg{
    /* background:url('.//img/aeffe6ee8fa85e135fb42213f28b884a.jpg') no-repeat center center/cover; */
    /* background-image: url(../img/360_F_729313469_RTp7bNgwWIo4NtfLEbQQuU0rERzUB6sq.jpg); */
    background-image: url(../img/pexels-photo-2926525.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 90vh;
    
   
}
.intro_op{
    position: absolute;
    width: 100%;
    height: 90vh;
    opacity:0.2;
    background-color: black;
}

.intro_content{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 3rem;
    top: 7rem;
}
.intro_content h2{
    /* position: relative;
    top: 12rem; */
    font-family: "Anton SC", sans-serif;
    margin-bottom: 20px;
}
.intro_content button{
    margin-top: 25px;
    padding: 15px 30px;
    /* border: 4px solid #FF6500; */
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
}
.intro_content button:hover{
    background-color: #347928;
    /* transition: background-color,1s; */
    color: white;
    cursor: pointer;
    /* box-shadow: 0px 0px 20px 10px #8967B3; */
}

.about{
    
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 80vh;
    margin: 5px 20px;
}
.about_content{
    padding-top: 100px;
    width: 55%;
    height: 100%;
}
.about_content h2{
    font-family: "Anton SC", sans-serif;
    color: #1E201E;
    font-size: 3.5rem;
    font-weight: 600;
    
}
.about_content p{
    color: #535353;
    font-size: 1.8rem;
    margin: 12px 0px;
    font-weight: 400;
}
.about_img{
   
    width: 35%;
    height: 30rem;
    background-image: url(../img/india.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.trending h2{
    font-family: "Anton SC", sans-serif;
    margin: 5px 60px;
    font-size: 4rem;
    color: #1E201E;
}

.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 40vh;
    margin: 0px 40px;
}
.card_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width:20rem ;
    /* box-shadow: inset 0px 0px 20px 3px black; */
    border-radius: 10px;
    
}


.card_content a{
    text-decoration: none;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    top: 5rem;
    position:relative;
    /* height: 100%;  */
    font-size: 2rem;
    z-index: 2;
    color: white;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-family: "Anton SC", sans-serif;
    font-weight: 600;
}
.card_content a:hover{
    /* color: #0055ff; */
    /* text-shadow: 0px 0px 20px #009dff; */
    /* transition: color,1s; */
    border-bottom: 5px solid #FF9D3D;
}
.card_content a h4{
    /* display: flex;
    align-items: center;
    justify-content: center;
     */
    font-size: 1rem ;
}
#Uttrakhand{
    background-image: url(../img/3f5f7fbc6b6235a57d8648d5c89cd7d4.jpg);
    background-size: cover;
    background-position: center;
}
#Manali{
    background-image: url(../img/manali.jpg);
    background-size: cover;
    background-position: center;
}
#Meghalaya{
    background-image: url(../img/meghalaya.jpg);
    background-size: cover;
    background-position: center;
}
#kashmir{
    background-image: url(../img/j&k.jpg);
    background-size: cover;
}
.places button{
    position: relative;
    padding: 12px 12px 15px 12px ;
    margin: 0px 12px;
    left: 100px;
    font-size: 1.2rem;
    background:none;
    border: none;
    border-bottom: 4px solid #ffffff;
}
#North{
    border-bottom: 4px solid #0055ff
}
.places button:hover{
    border-bottom: 4px solid #0055ff;
    cursor: pointer;
    /* background-image: url(../img/Dzukou\ valley.jpg); */
    /* font-weight: 800; */
    transition: 1s ease;
}
/* .places button{
    font-weight: 800;
    border-bottom: 4px solid #0055ff;
} */

.places h2{
    font-family: "Anton SC", sans-serif;
    font-size: 4rem;
    margin: 12px 65px;
    color: #1E201E;
}
.place_card{
    border-top: 1px solid grey;
    /* position: relative; */
    left: 10rem;
    /* margin-top: 20px; */
    display: flex;
    justify-content:center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    transition: background-image 0.5s ease-in-out;
    /* width: 80vw; */
}
.place_content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48%;
    width: 15vw;
    /* border: 2px solid red; */
    background-image: url(../img/eyeem-23764952-85249318.avif);
    background-size: cover;
    border-radius: 5px;
    /* transition: background-image 0.5s ease-in-out; */
}
#main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-image: url(../img/shimla.jpg);
    background-size: cover;
    background-position: bottom;
    /* transition: background-image 0.5s ease-in-out; */
    /* background-position: center; */
    /* border: 2px solid red; */
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
}
#img1{
    background-image: url(../img/himachal.jpg);
    background-size: cover;
    background-position: center;
}
#img2{
    background-image: url(../img/mussorie.jpg);
    background-size: cover;
    background-position: center;
}
#img3{
    background-image: url(../img/gulmarg.jpg);
    background-size: cover;
    background-position: center;
}
#img4{
    background-image: url(../img/manali.jpg);
    background-size: cover;
    background-position: center;
}
.place_main{
    height: 50vh;
    width: 17vw;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
}
#main a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    position: relative;
    /* height: %; */
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    top: 5%;
    font-weight: 800;
    font-family: "Anton SC", sans-serif;
}
#main a:hover{
    transform: scale(1.1);
    transition: 1s;
}
/* .place_content:hover{
    transform: scale(1.05);
    transition: 1s;
} */

.place_content a{
    
    /* flex-wrap: wrap; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-weight: 600;
    top: 30%;
    text-decoration: none;
    font-size: 1.4rem;
    color:white;
    position: relative;
    font-family: "Anton SC", sans-serif;
    /* height: 100%; */
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}
.place_content a:hover{
    transform: scale(1.1);
    transition: 1s;
}

.discover h2{
    margin: 30px 50px;
    font-size: 4rem;
    font-family: "Anton SC", sans-serif;
    color: #1E201E;
}
.discover_card{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 40vh;
    
}
#dima-haso{
    background: url(../img/dima-haso.jpg);
    background-size: cover;
    background-position: center;
}
#rishikesh{
    background-image: url(../img/rishikesh.jpeg);
    background-size: cover;
    background-position: center;
}
#treck{
    background-image: url(../img/treck.jpeg);
    background-size: cover;
    background-position: center;
}
#darjeeling{
    background-image: url(../img/darjeeling.jpg);
    background-size: cover;
    background-position: center;
}
.discover_content{
    /* background-image: url(../img/Treks-In-The-World-cover_18th-Nov.webp); */
    background-size:cover ;
    height: 70%;
    width:20rem ;
    
    border-radius: 25px;
}
.discover_content:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 1s;
}


.outro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
    background-color: #003161;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
}
.info h2{
    color: white;
    font-size: 2rem;
    margin: 12px 12px;
}
.info p{
    color: white;
    font-size: 1.4rem;
    margin: 10px 12px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.link h2{
    color: white;
    font-size: 2rem;
    margin: 12px 12px;
}
.link a{
    text-decoration: none;
    color: white;
    margin: 12px 12px;
    font-size: 1.5rem;
}
.link a:hover{
    transform: scale(1.2);
    color: #48ff55;
    transition: 0.5s;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social h2{
    color: white;
    font-size: 2rem;
    margin: 12px 12px;
}
.social a{
    text-decoration: none;
    color: white;
    margin: 12px 12px;
    font-size: 1.5rem;
}
.social a:hover{
    transform: scale(1.2);
    color: #48ff55;
    transition: 0.5s;
}
footer{
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0D92F4;
    color: white;
    font-size: 1.5rem;
    }

